<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intex II</title>
    <link href="~/lib/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body id="page-top">
    
    <div id="wrapper">
        <!-- Sidebar - Brand -->
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                    <div class="sidebar-brand-text mx-3">Team 4-2</div>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" asp-controller="Home" asp-action="Analytics">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Analytics</span>
                </a>
                <hr class="sidebar-divider d-none d-md-block">
                <a class="nav-link" asp-controller="Inference" asp-action="EnterData">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Prediction</span>
                </a>
                <hr class="sidebar-divider d-none d-md-block">
                <a class="nav-link" asp-controller="Home" asp-action="Privacy">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Privacy Policy</span>
                </a>
                <hr class="sidebar-divider d-none d-md-block">
                <a class="nav-link" asp-controller="Home" asp-action="SearchForm">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Admin</span>
                </a>
                <hr class="sidebar-divider d-none d-md-block">
            </li>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper">
            <div style="background-image: url(https://www.history.com/.image/t_share/MTg0NTg4OTc1MDYxNjA3OTEx/interstate-highway-gettyimages-1318535229.jpg); height: 100%; background-size: cover;">
                @RenderBody()
            </div>
        </div>

        <!-- Footer -->
        @*<footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>*@
        <!-- End of Footer -->
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('clear_tag_radio').onclick = function () {
            var radio2 = document.querySelector('input[type=radio][name=WILD_ANIMAL_RELATED]');
            var radio1 = document.querySelector('input[type=radio][name=DROWSY_DRIVING]');
            var radio3 = document.querySelector('input[type=radio][name=DISTRACTED_DRIVING]');
            var radio4 = document.querySelector('input[type=radio][name=ROADWAY_DEPARTURE]');
            var radio5 = document.querySelector('input[type=radio][name=NIGHT_DARK_CONDITION]');
            var radio6 = document.querySelector('input[type=radio][name=INTERSECTION_RELATED]');
            if (radio2.checked == true)
                radio2.checked = false
            if (radio1.checked == true)
                radio1.checked = false
            if (radio3.checked == true)
                radio3.checked = false
            if (radio4.checked == true)
                radio4.checked = false
            if (radio5.checked == true)
                radio5.checked = false
            if (radio6.checked == true)
                radio6.checked = false
        };
        document.getElementById('clear_year_radio').onclick = function () {
            var radio = document.querySelector('input[type=radio][name=CRASH_DATETIME]:checked');
                radio.checked = false;
        };
        document.getElementById('clear_severity_radio').onclick = function () {
            var radio = document.querySelector('input[type=radio][name=CRASH_SEVERITY_ID]:checked');
                radio.checked = false;
        };
        document.getElementById('clear_county_radio').onclick = function () {
            var radio = document.querySelector('input[type=radio][name=COUNTY_NAME]:checked');
            radio.checked = false;
        };
        

    </script>
    <!-- Page Wrapper -->
    
</body>
</html>
