@{
    ViewData["Title"] = "Home Page";
}

@*text-center m-lg-5 py-lg-5*@
<div class="w-100 mx-auto row h-100 justify-content-center align-items-center py-lg-5">
    <h1 class="text-center font-weight-bold text-light p-lg-4">Utah Car Accidents Analytics And Predictions</h1>
    <div class="pt-lg-5">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Analytics">Checkout Our Analytics</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Analytics">Make Your Own Prediction</a>
    </div>
</div>
