@{
    ViewData["Title"] = "Home Page";
}

@*text-center m-lg-5 py-lg-5*@
@*<div class="container-fluid">

        <div class="pt-lg-5 pt-sm-5 my-auto">
            <div class="row align-items-center justify-content-center">
                <h1 class="text-center font-weight-bold text-light p-lg-4">Utah Car Accidents Analytics And Predictions</h1>
            </div>
            <div class="row justify-content-center align-items-center pb-lg-5 pb-sm-5">
                <div>
                    <div class="col-12 col-sm-12 ">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Analytics">Checkout Our Analytics</a>
                    </div>
                </div>
                <div>
                    <div class="col-12 col-sm-12">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Analytics">Make Your Own Prediction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="container">
    <partial name="_CookieConsentPartial" />
    <div class="row p-5">
    </div>
    <div class="row p-5">
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <div class="row align-items-center justify-content-center">
                <h1 class="text-center font-weight-bold text-light p-lg-4">Utah Car Accidents Analytics And Predictions</h1>
            </div>
            <div class="row justify-content-center align-items-center pb-lg-5 pb-sm-5">
                <div>
                    <div class="col-12 col-sm-12 ">
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Analytics">Checkout Our Analytics</a>
                    </div>
                </div>
                <div>
                    <div class="col-12 col-sm-12">
                        <a class="btn btn-primary" asp-controller="Inference" asp-action="EnterData">Make Your Own Prediction</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
