@{
    ViewData["Title"] = "Privacy Policy";
}

<div id="content-wrapper">
    <h1>@ViewData["Title"]</h1>

    <div style="background-image: url(https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2.jpg); height: 100%; background-size: cover;">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>


